.idea/
.DS_STORE/

NVIDIA_examples/bin/

*libcuhook.so.1
*inlinePTX_nvrtc
*fp16ScalarProduct
*simpleP2P
*simpleSeparateCompilation
*simpleLayeredTexture
*cppIntegration
*simpleCudaGraphs
*simpleOccupancy
*simpleTemplates
*simplePitchLinearTexture
*simpleAssert
*cppOverload
*clock_nvrtc
*simpleMPI
*vectorAddDrv
*vectorAdd_kernel64.ptx
*simpleTemplates_nvrtc
*simpleStreams
*simpleCooperativeGroups
*simpleSurfaceWrite
*simpleZeroCopy
*simpleVoteIntrinsics
*cudaTensorCoreGemm
*matrixMul
*matrixMul_nvrtc
*simpleAssert_nvrtc
*template
*UnifiedMemoryStreams
*matrixMulDrv
*matrixMul_kernel64.ptx
*asyncAPI
*cdpSimplePrint
*cudaOpenMP
*simpleTexture
*systemWideAtomics
*simpleCallback
*inlinePTX
*simpleAtomicIntrinsics_nvrtc
*simpleTextureDrv
*simpleTexture_kernel64.ptx
*simpleCubemapTexture
*simpleMultiGPU
*simpleAtomicIntrinsics
*clock
*matrixMulCUBLAS
*simpleMultiCopy
*vectorAdd
*vectorAdd_nvrtc
*cdpSimpleQuicksort
*simplePrintf
*simpleVoteIntrinsics_nvrtc
*simpleIPC
*topologyQuery
*UnifiedMemoryPerf
*bandwidthTest
*p2pBandwidthLatencyTest
*deviceQueryDrv
*deviceQuery
*simpleTexture3D
*simpleGL
*marchingCubes
*bindlessTexture
*volumeRender
*volumeFiltering
*Mandelbrot
*convolutionFFT2D
*simpleCUDA2GL
*bicubicTexture
*boxFilter
*histogram
*bilateralFilter
*convolutionTexture
*SobelFilter
*stereoDisparity
*postProcessGL
*recursiveGaussian
*EGLStream_CUDA_CrossGPU
*HSOpticalFlow
*imageDenoising
*dxtc
*EGLStreams_CUDA_Interop
*dct8x8
*dwtHaar1D
*convolutionSeparable
*SobolQRNG
*binomialOptions
*MonteCarloMultiGPU
*BlackScholes
*quasirandomGenerator
*quasirandomGenerator_nvrtc
*BlackScholes_nvrtc
*binomialOptions_nvrtc
*smokeParticles
*particles
*nbody
*fluidsGL
*oceanFFT
*reduction
*cdpAdvancedQuicksort
*sortingNetworks
*lineOfSight
*ptxjit
*ptxjit_kernel64.ptx
*fastWalshTransform
*reductionMultiBlockCG
*FDTD3d
*cdpQuadtree
*threadMigration
*threadMigration_kernel64.ptx
*matrixMulDynlinkJIT
*interval
*c++11_cuda
*warpAggregatedAtomicsCG
*alignedTypes
*transpose
*newdelete
*shfl_scan
*scalarProd
*radixSortThrust
*conjugateGradientMultiDeviceCG
*simpleHyperQ
*segmentationTreeThrust
*eigenvalues
*conjugateGradientMultiBlockCG
*scan
*StreamPriorities
*threadFenceReduction
*concurrentKernels
*FunctionPointers
*mergeSort
*cdpBezierTessellation
*histEqualizationNPP
*FilterBorderControlNPP
*BiCGStab
*cuHook
*cuSolverRf
*nvgraph_SSSP
*freeImageInteropNPP
*jpegNPP
*conjugateGradientUM
*boundSegmentsNPP
*conjugateGradient
*boxFilterNPP
*nvgraph_Pagerank
*MC_EstimatePiP
*cuSolverSp_LowlevelQR
*batchCUBLAS
*MC_SingleAsianOptionP
*simpleCUBLASXT
*MC_EstimatePiInlineQ
*simpleCUFFT_2d_MGPU
*MC_EstimatePiInlineP
*conjugateGradientPrecond
*MersenneTwisterGP11213
*cuSolverDn_LinearSolver
*nvgraph_SemiRingSpMV
*MC_EstimatePiQ
*simpleCUBLAS
*randomFog
*cuSolverSp_LinearSolver
*simpleCUFFT_MGPU
*nvgraph_SpectralClustering
*simpleCUFFT_callback
*simpleCUFFT
*cannyEdgeDetectorNPP
*cuSolverSp_LowlevelCholesky
*save.txt
